<!-- profileを示す画像 -->
<body id="bodyprofile">
    <header class="myname">制作者　-Profile-</header>
  <div id="bodyintroduce">
      <% if user_signed_in? && current_user.admin? %>
            <table class="profile_link">
               <tr> 
                  <th><%= link_to "新規登録する" ,new_profile_path %></th>
                </tr>
            </table>
      <% end %>
   <% if @profiles.present? %>
   <% @profiles.each do |t| %>          
      <div class="card">
         <div class="title">About Me</div>
            <div class="subtitle">自己紹介</div>
               <!-- このコードだと表示されない<img src="myprofile.jpeg" alt="プロフィール写真" class="profile-img"> → これだと画像が出てこない -->
               <%= image_tag "myprofile.jpeg", alt: "プロフィール写真", class: "profile-img" %>
            <div class="info">
               <div><span>名前:</span> <%= t.nickname %> </div>
               <div><span>年齢:</span> <%= t.age %> </div>
               <div><span>生年月日:</span> <%= t.birthday %> </div>
               <div><span>血液型:</span> A型</div>
               <div><span>出身地:</span> <%= t.hometown %> </div>
               <div><span>出身高校:</span> 鹿児島中央高校 </div>
               <div><span>在校大学:</span> <%= t.college %> </div>
               <div><span>好きなこと:</span> バイク、スポーツ全般、読書</div>
               <div><span>行ってみたい国:</span> カナダ、オーストラリア</div>
               <div><span>目標:</span> 1年で3個webサイト、1つのゲームを開発してリリースすること</div>
            </div>
            <div class="message">
               気軽に声かけてもらえたら嬉しいです！<br>
               一緒にカフェ巡りできる友達募集中！<br>
               <%= t.character %>
            </div>
         </div>
           <!-- 管理者権限の部分 -->
            <% if user_signed_in? && current_user.admin? %>
             <table class="profile_link">
               <tr> 
                  <th><%= link_to "追加する" ,new_profile_path %></th>
                  <th class="spacelink"></th>
                  <th><%= link_to "編集する" ,edit_profile_path(t.id) %></th>
                </tr>
             </table>
            <% end %>
         
    <% end %>
   <% else %>
   <p>プロフィール情報がありません</p>
   <% end %>
  
   <footer class="profile_return">
     <%= link_to 'ホームページに戻る', aecsites_path, class: 'linkp' %>
   </footer>
   
  </div>
</body>