<!-- ここは管理者のプロフィールを新規投稿するファイル -->
<html>
 <body>
   <div class="form-container_profile">
   <h2 class="form-title_profile">プロフィール登録</h2>
      <%= form_with model: @profile, url: profiles_path, local: true do |post| %>
         <div class="form-group_profile">
            <%= post.label :nickname, "名前*", class: "form-label_profile" %>
            <%= post.text_field :nickname, placeholder:"名前", class: 'form-input_profile' %>
         </div>
         <div class="form-group_profile">
            <%= post.label :age, "年齢*", class: "form-label_profile" %>
            <%= post.text_field :age, placeholder:"年齢", class: 'form-input_profile' %>
         </div>
         <div class="form-group_profile">
            <%= post.label :birthday, "誕生日*", class: "form-label_profile" %>
            <%= post.text_field :birthday, placeholder:"誕生日", class: 'form-input_profile' %>
         </div>
         <div class="form-group_profile">
            <%= post.label :hometown, "出身*", class: "form-label_profile" %>
            <%= post.text_field :hometown, placeholder:"出身", class: 'form-input_profile' %>
         </div>
         <div class="form-group_profile">
            <%= post.label :college, "大学*", class: "form-label_profile" %>
            <%= post.text_field :college, placeholder:"大学", class: 'form-input_profile' %>
         </div>
         <div class="form-group_profile">
            <%= post.label :character, "紹介文", class: "form-label_profile" %>
            <%= post.text_field :character, :size=>231 ,placeholder:"紹介文", class: "form-textarea-large", oninput: "autoResize(this)" %>
         </div>

         <script>
           function autoResize(textarea) {
           textarea.style.height = "auto";  // 一旦高さをリセット
           textarea.style.height = (textarea.scrollHeight) + "px";  // 内容に応じた高さに調整
          }

          // ページ読み込み時にも適用
            document.addEventListener("turbo:load", function () {
            document.querySelectorAll(".form-textarea-large").forEach((textarea) => {
            textarea.addEventListener("input", function () {
            autoResize(this);
            });
            autoResize(textarea);  // 既に入力されている内容にも適用
            });
          });

         </script>

         <div class="form-group_profile">
            <%= post.submit "新規登録する", class: "form-submit_profile" %>
         </div>
      <% end %>
   </div>
   <footer class="homep_return">
      <%= link_to 'プロフィール画面に戻る',profiles_path, class: 'link' %>
   </footer>
 </body>
</html>