<!-- ここはログインidを持っている人にしか見れないもので大学1~4年生の生活スタイルを投稿するためのファイル -->
<html>
 <body>
   <div>
    <p> 投稿 大学1~4年 </p>
    <p> ここでは全部の概要を記述する必要はないです。伝えたいことの概要のみで大丈夫です🙂 </p>
   </div>
    <%= form_with model: @universitylife, url: universitylives_path, local: true do |post| %>
     <%= hidden_field_tag :model, "universityslife" %>
     <div>
       <p>学年選択</p>
       <%= post.select :selsect,[["大学1年生","firsty"],["大学2年生","secondy"],["大学3年生","thirdy"],["大学4年生","fourthy"]], include_blank: "投稿したい学年を選択してください" %>

       <p>学業</p>
       <%= post.text_field :study, placeholder:"勉学の取り組み方について記述してください" %>

       <p>バイト</p>
       <%= post.text_field :parttimejob, placeholder:"バイトの取り組み方について記述してください"  %>

       <p>サークル</p>
       <%= post.text_field :circle, placeholder:"サークルの取り組み方について記述してください" %>

       <p>日常生活</p>
       <%= post.text_field :daily, placeholder:"学校外の日常の取り組み方について記述してください" %>

       <p>インターン</p>
       <%= post.text_field :intern, placeholder:"インターン活動の取り組みについて記述してください" %>

       <p>post</p>
       <%= post.submit "投稿する" %>

     </div>
    <% end %>
    <footer class="homep_return">
     <%= link_to 'ホームページに戻る',aecsites_path, class: 'link' %>
    </footer>

 </body>
</html>