<!-- ここは大学2年生を紹介するためのサイト -->
<!-- second year university student:(イギリス英語)   sophomore:(アメリカ英語) -->
<html>
  <body>
    <p class="ulHome"> Second Year University Student </p>
   <div id="ULsite">
      <div id="narrowedown">
        <div class="narrowedowns">
          <%= form_tag({controller:"universitylives",action:"secondy"},method: :get) do %>
    
          <%= check_box_tag 'filters[]', 'study', params[:filters]&.include?('study') %>
          <%= label_tag :filter_study, '学業' %>
  
          <%= check_box_tag 'filters[]', 'parttimejob', params[:filters]&.include?('parttimejob') %>
          <%= label_tag :filter_parttimejob, 'バイト' %>
  
          <%= check_box_tag 'filters[]', 'circle', params[:filters]&.include?('circle') %>
          <%= label_tag :filter_circle, 'サークル' %>
  
          <%= check_box_tag 'filters[]', 'daily', params[:filters]&.include?('daily') %>
          <%= label_tag :filter_daily, '日常生活' %>
  
          <%= check_box_tag 'filters[]', 'intern', params[:filters]&.include?('intern') %>
          <%= label_tag :filter_intern, 'インターン' %>
        </div>
                    <br>
        <div class="narrowedownb">
          <%= submit_tag "検索する" ,class: 'search' %>
        </div>
          <% end %>
      </div>
        <% if @no_results_2 %>
         
          <div id="cannotfind"> 該当する投稿は見つかりませんでした。</div>
        <% else %>
          <% @secondy.each do |t| %>
            <% if t.study.present? || t.parttimejob.present? || t.circle.present? || t.daily.present? || t.intern.present? %>
              <div id="postU">
                <div id="postlist">
                  <fieldset>
                    <legend class="itemdisplay">学業</legend>
                      <%= t.study %>
                  </fieldset>
                  <fieldset>
                    <legend class="itemdisplay">バイト</legend>
                      <%= t.parttimejob %>
                  </fieldset>
                  <fieldset>
                    <legend class="itemdisplay">サークル</legend>
                      <%= t.circle %>
                  </fieldset>
                  <fieldset>
                    <legend class="itemdisplay">日常生活</legend>
                      <%= t.daily %>
                  </fieldset>
                  <fieldset>
                    <legend class="itemdisplay">インターン</legend>
                      <%= t.intern %>
                  </fieldset>
                  <div class="deleteb">
                   <% if user_signed_in? %>
                     <%= button_to 'Delete', universitylife_path(t.id), method: :delete %>
                   <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
   </div>
   <footer class="homep_return">
    <%= link_to '前のページに戻る', url_for(controller: "universitylives" ,action: "intrograde"), class: 'link' %>
   </footer>
  </body>
</html>
