<!-- ここは大学2年生を紹介するためのサイト -->
<!-- second year university student:(イギリス英語)   sophomore:(アメリカ英語) -->
<html>
  <body>
    <p class="ulHome"> Second Year University Student </p>
    ようこそ！！
    <%= form_tag({controller:"universitylives",action:"firsty"},method: :get) do %>
    
      <%= check_box_tag 'filters[]', 'study', params[:filters]&.include?('study') %>
      <%= label_tag :filter_study, '学業' %>
  
      <%= check_box_tag 'filters[]', 'parttimejob', params[:filters]&.include?('parttimejob') %>
      <%= label_tag :filter_parttimejob, 'バイト' %>
  
      <%= check_box_tag 'filters[]', 'circle', params[:filters]&.include?('circle') %>
      <%= label_tag :filter_circle, 'サークル' %>
  
      <%= check_box_tag 'filters[]', 'daily', params[:filters]&.include?('daily') %>
      <%= label_tag :filter_daily, '日常生活' %>
  
      <%= check_box_tag 'filters[]', 'intern', params[:filters]&.include?('intern') %>
      <%= label_tag :filter_intern, 'インターン' %>
  
      
      <%= submit_tag "検索する" %>
    <% end %>
    <% if @no_results_2 %>
     <p> 該当する投稿は見つかりませんでした。</p>
    <% else %>
     <% @secondy.each do |t| %>
      <% if t.study.present? || t.parttimejob.present? || t.circle.present? || t.daily.present? || t.intern.present? %>
       <div>
         <p>学業：<%= t.study %></p>
         <p>バイト：<%= t.parttimejob %></p>
         <p>サークル：<%= t.circle %></p>
         <p>日常生活：<%= t.daily %></p>
         <p>インターン：<%= t.intern %></p>
         <% if user_signed_in? %>
             <%= button_to 'Delete', universitylife_path(t.id), method: :delete %>
         <% end %>
       </div>
      <% end %>
     <% end %>
    <% end %>
   <footer class="homep_return">
    <%= link_to '前のページに戻る', url_for(controller: "universitylives" ,action: "intrograde"), class: 'link' %>
   </footer>
  </body>
</html>
