<!-- ここはログインidを持ってる人のみしか見れない投稿するサイト -->
<!-- ここでは共通教養科目である -->
<% form_for @commoncource.each do |p| %>
  <div>
    <p>講義</p>
    <%= p.text_field :lecture, "講義" %>
    
    <p>教授</p>
    <%= p.text_field :professor, "教授" %>

    <p>成績内容</p>
    <%= p.text_field :grade, "成績内容" %>

    <p>テスト評価</p>
    <%= p.texr_field :reportage, "テスト評価" %>

    <p>post</p>
    <%= p.submit "投稿する" %>
  </div>
<% end %>
  <footer class="homep_return">
     <%= link_to 'ホームページに戻る',aecsites_path, class: 'link' %>
  </footer>