<!-- ホームページを示す画像　-->
<body>
  <p class="Home_theme"> Easy Cource </p>
  <p class="Home_u"> in 福岡大學　</p>
  <!-- class="Target_audience"> 対象者：工学部電子情報工学情報工学科　-->
 <!-- 科目、生活、プロフィールの3つを取り囲む部分　-->
 <div class="cource">
  <p>Cource</p>
  <div class="courselist">
   <p>
     <%=link_to '共通教養科目', :controller => "aecsites", :action => "commoncource" %>
     <%=link_to '大学科目', :controller => "aecsites", :action => "universitycourcelist" %>
     <%=link_to '電子情報工学科', :controller => "aecsites", :action =>  "tlcource" %>
   </p>
  </div>
　 科目
 </div>
 <div class="lifestyle">
  <p>Lifestyle</p>
  <!-- ここに二つ目の背景画像を設ける -->
  <div class="universitystyle">
    <p>
     <%=link_to '大学生活', :controller => "aecsites", :action => "universitylife" %>
    </p>
  </div>
 </div>
 <p class="profile">
 　プロフィール
    <%= link_to 'Profile', :controller => "aecsites", :action => "profile" %>
 </p>
</body>