<!-- ホームページを示す画像　-->
<body>
  <p class="Home_theme"> Easy Cource </p>
  <div class="Home_ul"> 
   <div class="login">
    <% if user_signed_in? %>
     <p>ようこそ、<%= current_user.email %>さん！</p>
       
       <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'button1' %>
     <% else %>
       <%= link_to '新規登録', new_user_registration_path, class: 'button1' %>
       <%= link_to 'ログイン', new_user_session_path, class: 'button1' %>
     <% end %>
   </div>
   <div class="home_u">
      in 福岡大學　 
   </div>
  </div>
  <!-- class="Target_audience"> 対象者：工学部電子情報工学情報工学科　-->
 <!-- 科目、生活、プロフィールの3つを取り囲む部分　-->
 <div class="cource">
  <p>Cource</p>
    <div class="courcelist">
      <div class="common">
        <!-- 一番左側に置く -->
       <div class="commonc">
         <%=link_to '共通教養科目', :controller => "aecsites", :action => "commoncource" %>
       </div>
      </div>
      <div class="commontech">
       <div class="commontechc">
        <!-- 真ん中に置く -->
        <%=link_to '工学科共通科目', :controller => "aecsites", :action => "tchcourcelist" %>
       </div>
      </div>
      <div class="tl">
       <div class="tlc">
        <!-- 一番右側に置く -->
        <%=link_to '電子情報工学科', :controller => "aecsites", :action =>  "tlcource" %>
       </div>
      </div>
    </div>

 </div>
 <div class="lifestyle">
  <p>Lifestyle</p>
  <!-- ここに二つ目の背景画像を設ける -->
  <div class="universitystyle">
    <span class="universitysylec">
     <%=link_to '大学生活', :controller => "aecsites", :action => "universitylife" %>
    </span>
  </div>
 </div>
 <div class="profile">
  <p>Profile</p>
  <!-- ここに二つ目の背景画像を設ける -->
  <div class="profiledetail">
   <span class="profiledetailc">
    <%= link_to '制作者', :controller => "aecsites", :action => "profile" %>
   </span>  
  </div>
 </div>



</body>