<!-- ここは工学科共通科目を紹介するファイル　-->
<html>
  <body>
    <p class="tchHome"> 工学科共通科目 </p>
    ようこそ！！
    <div>
    <% if user_signed_in? %>
      <%= link_to "投稿する" ,aecsites_tchcourcelistnew_aecsites_path %>
    <% end %>
    </div> 
    <% @tchcourcelists.each do |t| %>
    <div>
      <p>講義：<%= t.lecture %></p>
      <p>教授：<%= t.professor %></p>
      <p>成績内容：<%= t.grade %></p>
      <p>実録：<%= t.reportage %></p>

      <% if user_signed_in? %>
        <%= button_to 'Delete', destroy_tchcourcelist_aecsites_path(t.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      <% end %>
    </div>
    <% end %>
    <footer class="homep_return">
     <%= link_to 'ホームページに戻る',aecsites_path, class: 'link' %>
    </footer>
  </body>
</html>