<!-- ここはログインidを持ってる人のみしか見れない投稿するサイト -->
<!-- ここでは電子情報工学科である -->
<html>
 <body>
   <p class="tlHome"> 電子情報工学科 </p>
   
   <%= form_with model: @tlcource,  url: tlcources_path, local: true do |post| %>
    <%= hidden_field_tag :model, "tlcource" %>
    <div>
      <p>講義</p>
      <%= post.text_field :lecture, placeholder:"講義" %>

      <p>教授</p>
      <%= post.text_field :professor, placeholder:"教授" %>

      <p>成績内容</p>
      <%= post.text_field :grade, placeholder:"シラバス上にある成績評価を書いてください" %>

      <p>テスト評価</p>
      <%= post.text_field :reportage,    placeholder: "テストの内容もしくは単位の取得方法を書いてください" %>

      <p>post</p>
      <%= post.submit "投稿する" %>
    </div>
   <% end %>
   <footer class="homep_return">
     <%= link_to 'ホームページに戻る',aecsites_path, class: 'link' %>
   </footer>
 </body>
</html>