<!-- ここは工学科共通科目を紹介するファイル　-->
<html>
  <body>
    <p class="tchHome"> 工学科共通科目 </p>
     <p class="headstyle"><span class="headchar">Welcome!!</span></p>
    <div>
    <p class="postb">
     <% if user_signed_in? %>
      <%= link_to "投稿する" ,new_tchcourcelist_path %>
     <% end %>
    </p>
    </div> 
    <% @tchcourcelists.each do |t| %>
    <div class="informationlist">
      <p class="shorttext">講義：<%= t.lecture %></span>
      <p class="shorttext">教授：<%= t.professor %></p>
      <p class="longtext">成績内容
              <br>
         <%= t.grade %>
      </p>
      <p>
        <label>
          実録
          <br>
         <span class="longtext">
           <%= t.reportage %>
         </span>
        </label>
      </p>
      
       <% if user_signed_in? %>
        <%= button_to 'Delete', tchcourcelist_path(t), method: :delete, data: { confirm: '本当に削除しますか？' } %>
       <% end %>
      
    </div>
    <% end %>
    <footer class="homep_return">
     <%= link_to 'ホームページに戻る',aecsites_path, class: 'link' %>
    </footer>
  </body>
</html>